:root {
  --colour1: #000000;
  --colour2: #14213D;
  --colour3: #FCA311;
  --colour4: #E5E5E5;
  --colour5: #FFFFFF;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colour2);
  color: var(--colour4);
  height: 100vh;
}

main {
  margin: 10px 100px;
  /* some flex wizardry to correctly position footer while  */
  flex: 1 0 auto; 
}

a {
  color: var(--colour3);
}

a:visited {
  color: var(--colour3);
}