:root {
  --colour1: #000000;
  --colour2: #14213D;
  --colour3: #FCA311;
  --colour4: #E5E5E5;
  --colour5: #FFFFFF;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colour2);
  color: var(--colour4);
  height: 100vh;
}

main {
  height: 100%;
}